.catalog {
    position: relative;
    min-height: 100vh; //минимум 100% от высоты экрана
    padding: 70px 0 200px;
    color: #303030;

    &-header {
        text-align: center;
        padding: 30px 0;
    }

    &-title {
        font-size: 36px;
        text-transform: uppercase;
    }

    &-subtitle {
        margin-bottom: 30px;
        font-size: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-style: italic;
        color: #606060;
    }

    &-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &-item {
        width: 22%;
        margin-bottom: 100px;
        text-align: center;
        text-decoration: none;
        color: #000;
        cursor: pointer;
        transition: 0.5s ease;

        &:hover {
            transform: scale(1.05);
        }

        &__img {
            height: 255px;
            border: 1px solid #c8c8c8;
            background-size: 80% auto; //вместо паддингов, auto по умолчанию будет и так (паддинги не срабоатют на background)
            background-repeat: no-repeat;
            background-position: center;   
        }

        &__name { 
            margin: 20px 0 10px;
            font-weight: bold;
        }

        &__price {
            color: #606060;
        }
    }

    &-pagination {
        text-align: center;

        & a {
            width: 40px;
            height: 40px;
            line-height: 40px;
            border: 1px solid #303030;
            background-color: #606060;
            color: #fff;

        }

        & a:first-child {
            color: #303030;
            background-color: #fff;
        }
    }
}